#**PyUnloader**

Este es un programa que exporta los datos contenidos en una base de datos SYBASE SQL Anywhere version 7 y produce arvhivos con sentencias DDL en donde se crer tablas, vistas, se definen llaves primarias, indices y relaciones entre tablas.

Con este objetivo se realizan queries sobre las tablas del sistema :

**SYSUSERS** : contiene la informacion de los usuarios creados en la base de datos

**SYSTABLE** : contiene informacion de las tablas y vistas 

**SYSCOLUMNS** : contiene infromacion sobre las columnas de cada tabla

**SYSINDEXES** :  contiene infromacion sobre los indices y constraints creados para las tablas

In [33]:
import pyodbc  
import json

DataSource = "DSN=BaseSQL32"
ExportFile = "PyUnload"
ExportDataDir = ""
Usuarios = ['PRG','MIGAP']
Tablas = []  #["GEstores",'Usuarios','Clientes','ProductosFotos']
RowsToExport = 100  # -1 para exportar todos
finalizador = "go"

In [34]:
# Estrae la lista de TABLAS y VISTAS de un propietario especifico
 
def crearModeloDatos(DataSource, Usuarios, Tablas):

    modeloDatos = {}
    creator_id = ""
    conexionDB = pyodbc.connect(DataSource)
    cursor = conexionDB.cursor()

    for user in Usuarios:

        # Se determina el ID del usuario propietario de las tablas
        sql_creador  = "SELECT * FROM SYSUSERS WHERE NAME = " + "'" + user + "'"
        cursor.execute(sql_creador)
        row = cursor.fetchone()
        creator_id=row.suid

        # Se extrae la lista de TABLAS de las cuales el usuario es propitario 
        sql_tablas = "SELECT * FROM SYSTABLE WHERE TABLE_TYPE = \'BASE\'"
        sql_tablas = sql_tablas + " AND CREATOR=" + str(creator_id)
        sql_tablas = sql_tablas + " ORDER BY TABLE_NAME "
        cursor.execute(sql_tablas)
        rows_table = cursor.fetchall()

        modeloDatos[user] = {}
        modeloDatos[user]["tables"] ={}

        for row_table in rows_table:

            #if  row_table.table_name.upper() in  [w.upper() for w in Tablas] :

                modeloDatos[user]["tables"][row_table.table_name] = {
                "table_owner" : user, 
                "table_name" : row_table.table_name,
                "table_id" : row_table.table_id,
                "table_count" : row_table.count }

                #print(row_table.table_name)

                # Extrae las columnas de cada tabla
                sql_columnas  = "SELECT * FROM SYSCOLUMNS WHERE TNAME = " + "'" + row_table.table_name + "'" + " ORDER BY COLNO"
                
                cursor.execute(sql_columnas)
                rows_columns = cursor.fetchall()
                modeloDatos[user]["tables"][row_table.table_name]["table_columns"] = []

                for row_column in rows_columns:
                    obj = {
                    "col_name" : row_column.cname,
                    "col_type" :row_column.coltype,
                    "col_null" :row_column.nulls,
                    "col_length" : row_column.length,
                    "col_syslength" : row_column.syslength,
                    "col_inPK": row_column.in_primary_key }
                    modeloDatos[user]["tables"][row_table.table_name]["table_columns"].append(obj)

                    #print("\t",row_column.cname)

                modeloDatos[user]["tables"][row_table.table_name]["table_indexes"] = []

                sql_indices  = "SELECT * FROM SYSINDEXES WHERE INDEXTYPE = 'Non-unique' AND TNAME =" + "'" + row_table.table_name + "' order by iname"   

                cursor.execute(sql_indices)
                rows_indices = cursor.fetchall()
                
                for rows_indice in rows_indices:
                    obj={}
                    obj["index_name"]=rows_indice.iname
                    colnames=rows_indice.colnames
                    obj["index_columns"]=colnames.split(',')
                    modeloDatos[user]["tables"][row_table.table_name]["table_indexes"] .append(obj)

                    #print("\t",rows_indice.tname)

                modeloDatos[user]["views"] = []

                # Se extrae la lista de VISTAS de las cuales el usuario es propitario 
                sql_vistas = "SELECT * FROM SYSTABLE WHERE TABLE_TYPE = \'VIEW\'"
                sql_vistas = sql_vistas + " AND CREATOR=" + str(creator_id)
                sql_vistas = sql_vistas + " ORDER BY TABLE_NAME "
                
                cursor.execute(sql_vistas)
                rows_views = cursor.fetchall()

                for row_view in rows_views:
                    obj = { 
                    "view_name" : row_view.table_name,
                    "view_def" : row_view.view_def }
                    modeloDatos[user]["views"].append(obj)
        
    cursor.close()
    conexionDB.close()

    return modeloDatos

In [35]:
modeloDatos = crearModeloDatos(DataSource,Usuarios,Tablas)
file = open("ModeloDatos.json", "w" )
file.write(json.dumps(modeloDatos))
file.close()

In [36]:
# Genera la sentencia DDL de CREATE TABLE de la tabla indicada en los parametros

def createTables(table_def ):

    DDL= ""

    DDL = DDL +  "IF EXISTS (SELECT * FROM sysobjects WHERE name = \'" +  table_def["table_name"] + "\'"
    DDL = DDL +  " AND type = 'U') DROP TABLE " + table_def["table_owner"] + "." + table_def["table_name"] + "\n"
    DDL = DDL + finalizador+ "\n"

    DDL = DDL + "CREATE TABLE " + "\"" + table_def["table_owner"] + "\".\"" + table_def["table_name"] +"\"\n" 
    DDL = DDL + "(" +"\n" 
    # Definicion de columnas
    for col in table_def["table_columns"]:
        DDL = DDL + "\t\"" + col["col_name"] + "\" " + col["col_type"]
        if ( col["col_type"] != "long varchar" and col["col_type"] != "integer" and 
            col["col_type"] != "decimal" and col["col_type"] != "date" and
            col["col_type"] != "timestamp" and col["col_type"] != "time" ) :
            DDL = DDL + "(" + str(col["col_length"]) + ")" 
        if col["col_type"] == "decimal":
            DDL = DDL +  "(" + str(col["col_length"]) +","+ str(col["col_syslength"]) + ")" 
        if col["col_null"] == "N":
            DDL = DDL + " NOT NULL" +",\n"
        else:
            DDL = DDL + ",\n"
    DDL =  DDL + ")\n"
    DDL = DDL + finalizador+ "\n"
    
    # Definicion de indices
    for ind in table_def["table_indexes"]:
        DDL = DDL + "CREATE INDEX " + "\"" + ind["index_name"] + "\" ON " + "\"" + table_def["table_owner"] + "\".\"" + table_def["table_name"] +"\"\n" 
        DDL = DDL + "(" +"\n" 
        for col in ind["index_columns"]:
            DDL = DDL + "\t"  + col + ",\n"
        DDL = DDL + ")\n" 
        DDL = DDL + finalizador+ "\n"
    


    return DDL

SyntaxError: unmatched ')' (1303454355.py, line 18)

In [ ]:
for usuario, objetos in modeloDatos.items():
    file = open("PyUnload-" + usuario + ".sql", "a" )
    for tabla, tblDef in modeloDatos[usuario]["tables"].items():
        DDL= createTables(tblDef)
        file.write(DDL)
    file.close()

In [ ]:
def exportData(DataSource, tblDef, RowsToExport, ExportDataDir ):

    def rowConversion(row, columns_types ):
        
        str_row = ""
        ind = 0

        try: 
            for data in row:
                if type(data) == 'NoneType':
                    str_row = str_row + ""
                else:
                    if columns_types[ind]=='char' :
                        str_row = str_row + "\'" + data + "\'"
                    if columns_types[ind]=='decimal' :
                        str_row = str_row + str(float(data))
                    if columns_types[ind]=='date' :
                        d = str(data)
                        r = "\'" + d.replace("datetime.date(","").replace(")","").replace(" ","").replace(",","-") + "\'" 
                        str_row = str_row + r
                    if columns_types[ind]=='integer' :
                        str_row = str_row + str(data)
                    
                if ind<len(row)-1:
                    str_row = str_row + ","
            
                ind = ind + 1
        except:
            #print(type(data))
            #print(data)
            pass
        
        #print(row)
        #print(str_row)

        return str_row  

    conexionDB = pyodbc.connect(DataSource)
    cursor = conexionDB.cursor()

    if tblDef["table_count"]==0:
        return "", False

    i = 0 
    columns_names = ""
    columns_types = []
    for n in tblDef["table_columns"]:
        columns_names = columns_names + n["col_name"]
        columns_types.append( n["col_type"])
        if i < len(tblDef["table_columns"])-1:
            columns_names = columns_names + ","
            i = i + 1

    #print(columns_names)
    #print(columns_types)
    
    if RowsToExport!=-1:
        sql  = "select top " + str(RowsToExport) + " " + columns_names + " from " + tblDef["table_owner"] + "." + tblDef["table_name"] 
    else:
        sql  = "select " + columns_names + " from " + tblDef["table_owner"] + "." +  tblDef["table_name"]

    #print(sql)
    cursor.execute(sql)
    rows = cursor.fetchall()
    archivo_dat =  ExportDataDir +  str(tblDef["table_id"]) + ".dat"

    #print(len(rows))
    
    file = open(archivo_dat, "w")
    for row in rows:
        file.write(rowConversion(row,columns_types) +"\n")
    
    file.close()

    return archivo_dat , True

In [ ]:
def insertInto(tblDef, archivo_dat, archivo_insert ):
   
    #archivo_dat = str(dat["table_id"]) + '.dat'
    print(archivo_dat)

    file = open(archivo_insert, "a")
    sentenciaInsert = "INPUT INTO " + tblDef["table_owner"] + "." + tblDef["table_name"] +"\n"
    sentenciaInsert = sentenciaInsert + "FROM \'" +  archivo_dat + "\'\n"  
    sentenciaInsert = sentenciaInsert +  "FORMAT ASCII\n"
    sentenciaInsert = sentenciaInsert +  "BY ORDER\n"
    sentenciaInsert = sentenciaInsert + finalizador + "\n"
    file.write(sentenciaInsert)
    file.close()

    return True

In [ ]:
archivo_insert = "PyUnload-" + usuario + ".sql"
for usuario, objetos in modeloDatos.items():
    for tabla, tblDef in modeloDatos[usuario]["tables"].items():
        #print(tabla)
        archivo_dat, res = exportData(DataSource, tblDef, RowsToExport, ExportDataDir)
        insertInto(tblDef,archivo_dat, archivo_insert )

379.dat
380.dat

385.dat
239.dat
381.dat


248.dat
858.dat

859.dat

345.dat
346.dat
343.dat
366.dat
863.dat
344.dat


299.dat
304.dat


303.dat
302.dat


205.dat






370.dat

179.dat



294.dat
293.dat


287.dat


289.dat
364.dat
290.dat

296.dat

4876.dat
4875.dat
431.dat
360.dat
5637.dat

4091.dat
1395.dat

1374.dat
432.dat

1384.dat
488.dat
365.dat
487.dat

357.dat
885.dat





261.dat
398.dat

1885.dat


















493.dat
1459.dat


183.dat

2357.dat
1396.dat
288.dat



382.dat
1391.dat













440.dat
864.dat
178.dat

306.dat
2349.dat
305.dat


333.dat

1367.dat


2374.dat
2853.dat


1825.dat

441.dat
334.dat


375.dat
361.dat
215.dat
899.dat

1388.dat


1372.dat
1373.dat
423.dat
309.dat
1365.dat
202.dat
1364.dat
1329.dat
177.dat

2849.dat
256.dat



257.dat

2347.dat


383.dat

355.dat
213.dat


352.dat
211.dat



1547.dat


1397.dat
1398.dat


378.dat



180.dat


1330.dat
384.dat

301.dat


222.dat


182.dat
188.dat
3527.dat
193.dat
1376.dat
192.dat
195.dat
194.dat













840.dat
842.dat


880.dat


212.dat
240.dat




326.dat
298.dat


1463.dat
1462.dat
231.dat
185.dat



5617.dat












292.dat

291.dat

340.dat

397.dat

5625.dat
246.dat
245.dat


342.dat










207.dat
4076.dat
1363.dat
5616.dat
4074.dat

4073.dat
1359.dat
1360.dat








259.dat
354.dat

1389.dat
1824.dat




1382.dat

2348.dat
1759.dat
1387.dat





3914.dat

297.dat
210.dat
252.dat
341.dat
1394.dat
1393.dat















1366.dat
3966.dat
434.dat
1392.dat
419.dat

367.dat
4080.dat
4079.dat
4078.dat
4077.dat

377.dat


330.dat




216.dat

255.dat
353.dat
386.dat



1758.dat

5121.dat
4081.dat
4084.dat


2848.dat
221.dat



507.dat
506.dat






331.dat





845.dat



1332.dat
220.dat

3917.dat
1378.dat



4089.dat
300.dat
1351.dat
402.dat
436.dat
422.dat
286.dat
203.dat
1823.dat
376.dat


1375.dat
4090.dat


3732.dat
3733.dat


4954.dat

2863.dat
2417.dat
5647.dat
1625.dat

2847.dat
893.dat

2339.dat
1624.dat

4792.dat
6297.dat
4546.dat
2496.dat
6186.dat
2142.dat
3912.dat
2144.dat
5091.dat
5090.dat
2145.dat
2143.dat

1645.dat

2859.dat
2121.dat
2860.dat


2084.dat
705.dat
2135.dat
2136.dat
2861.dat
1652.dat
1653.dat
1356.dat
1355.dat


324.dat
2852.dat
3918.dat

865.dat









2583.dat



890.dat
887.dat
886.dat

870.dat




217.dat
894.dat
295.dat

1379.dat
1380.dat
6258.dat
6272.dat



5321.dat
8477.dat
1761.dat

898.dat
650.dat
651.dat
654.dat
657.dat
655.dat
658.dat
659.dat
653.dat
656.dat
652.dat